/*
*{
    margin:0;
    padding: 0;

}
h2{
    font-size: medium;
    color:cadetblue;
}
.contenedor{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
}
#Alumno1{
    color:chocolate;
}
a[href="https://example.com"]{
    color: rebeccapurple;
}
*/
/*#contenedor{
    background-color: blanchedalmond;
    width:500px;
    height:200px;
    padding: 20px 50px 10px 60px;
    border: 10px dashed rgb(159, 20, 113);
    border-radius: 10% 50% 10% 70%;
    margin: 50px 70px 90px 10px;

}*/
body{
    height:1000px;
}
span{
    display:inline-block;
    width: 100px;
    border: 2px solid rgb(14, 152, 152);
}
#span_Fersa{
    position: sticky;
    top: 100px;
}
#contFersa{
    width: 200px;
    height: 200px;
}